<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array/>
		<key>name</key>
		<string>全部</string>
		<key>pt</key>
		<string>all</string>
		<key>icon</key>
		<string>all.png</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>pt</key>
				<string>7</string>
				<key>title</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>777</string>
				<key>title</key>
				<string>今日新品</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>11</string>
				<key>title</key>
				<string>烧烤</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>12</string>
				<key>title</key>
				<string>火锅</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>32</string>
				<key>title</key>
				<string>蛋糕/甜品</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>16</string>
				<key>title</key>
				<string>日本料理</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>34</string>
				<key>title</key>
				<string>按摩/养生</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>36</string>
				<key>title</key>
				<string>KTV</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>44</string>
				<key>title</key>
				<string>票务、演出</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>46</string>
				<key>title</key>
				<string>美容/SPA</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>48</string>
				<key>title</key>
				<string>美发</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>51</string>
				<key>title</key>
				<string>儿童摄影</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>67</string>
				<key>title</key>
				<string>景点/郊游</string>
			</dict>
		</array>
		<key>name</key>
		<string>热门</string>
		<key>pt</key>
		<string>7</string>
		<key>icon</key>
		<string>hot.png</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>pt</key>
				<string>1</string>
				<key>title</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>10</string>
				<key>title</key>
				<string>自助餐</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>11</string>
				<key>title</key>
				<string>烧烤</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>12</string>
				<key>title</key>
				<string>火锅</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>13</string>
				<key>title</key>
				<string>干锅/香锅</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>32</string>
				<key>title</key>
				<string>蛋糕/甜品</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>14</string>
				<key>title</key>
				<string>西餐</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>15</string>
				<key>title</key>
				<string>东南亚餐</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>16</string>
				<key>title</key>
				<string>日本料理</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>18</string>
				<key>title</key>
				<string>海鲜</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>19</string>
				<key>title</key>
				<string>川菜</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>20</string>
				<key>title</key>
				<string>北京菜</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>21</string>
				<key>title</key>
				<string>湘菜</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>24</string>
				<key>title</key>
				<string>江浙菜</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>25</string>
				<key>title</key>
				<string>粤菜/港式</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>26</string>
				<key>title</key>
				<string>东北菜</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>27</string>
				<key>title</key>
				<string>新疆/清真</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>28</string>
				<key>title</key>
				<string>云贵菜</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>29</string>
				<key>title</key>
				<string>西北菜</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>31</string>
				<key>title</key>
				<string>小吃快餐</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>33</string>
				<key>title</key>
				<string>其他</string>
			</dict>
		</array>
		<key>name</key>
		<string>美食</string>
		<key>pt</key>
		<string>1</string>
		<key>icon</key>
		<string>food.png</string>
	</dict>
	<dict>
		<key>items</key>
		<array/>
		<key>name</key>
		<string>电影</string>
		<key>pt</key>
		<string>2</string>
		<key>icon</key>
		<string>movie.png</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>pt</key>
				<string>3</string>
				<key>title</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>34</string>
				<key>title</key>
				<string>按摩/养生</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>35</string>
				<key>title</key>
				<string>温泉/桑拿</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>36</string>
				<key>title</key>
				<string>KTV</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>37</string>
				<key>title</key>
				<string>公园</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>38</string>
				<key>title</key>
				<string>运动健身</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>39</string>
				<key>title</key>
				<string>游乐游艺</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>40</string>
				<key>title</key>
				<string>新奇体验</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>41</string>
				<key>title</key>
				<string>咖啡厅/茶馆</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>43</string>
				<key>title</key>
				<string>电影</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>44</string>
				<key>title</key>
				<string>票务、演出</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>45</string>
				<key>title</key>
				<string>艺术馆/展馆</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>42</string>
				<key>title</key>
				<string>其他</string>
			</dict>
		</array>
		<key>name</key>
		<string>休闲娱乐</string>
		<key>pt</key>
		<string>3</string>
		<key>icon</key>
		<string>play.png</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>pt</key>
				<string>4</string>
				<key>title</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>46</string>
				<key>title</key>
				<string>美容/SPA</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>47</string>
				<key>title</key>
				<string>美甲</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>48</string>
				<key>title</key>
				<string>美发</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>50</string>
				<key>title</key>
				<string>丽人其他</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>51</string>
				<key>title</key>
				<string>儿童摄影</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>52</string>
				<key>title</key>
				<string>个人写真</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>53</string>
				<key>title</key>
				<string>婚纱摄影</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>54</string>
				<key>title</key>
				<string>亲子乐园</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>56</string>
				<key>title</key>
				<string>健康体检</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>57</string>
				<key>title</key>
				<string>汽车服务</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>58</string>
				<key>title</key>
				<string>培训/学校</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>59</string>
				<key>title</key>
				<string>齿科</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>60</string>
				<key>title</key>
				<string>其他</string>
			</dict>
		</array>
		<key>name</key>
		<string>生活服务</string>
		<key>pt</key>
		<string>4</string>
		<key>icon</key>
		<string>life.png</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>pt</key>
				<string>5</string>
				<key>title</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>64</string>
				<key>title</key>
				<string>度假村</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>67</string>
				<key>title</key>
				<string>景点/郊区</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>68</string>
				<key>title</key>
				<string>国内旅游</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>69</string>
				<key>title</key>
				<string>出境旅游</string>
			</dict>
		</array>
		<key>name</key>
		<string>旅游</string>
		<key>pt</key>
		<string>5</string>
		<key>icon</key>
		<string>travel.png</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>pt</key>
				<string>6</string>
				<key>title</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>pt</key>
				<string>66</string>
				<key>title</key>
				<string>钟点房</string>
			</dict>
		</array>
		<key>name</key>
		<string>酒店</string>
		<key>pt</key>
		<string>6</string>
		<key>icon</key>
		<string>hotel.png</string>
	</dict>
	<dict>
		<key>items</key>
		<array/>
		<key>name</key>
		<string>网购</string>
		<key>pt</key>
		<string>8</string>
		<key>icon</key>
		<string>shopping.png</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>pt</key>
				<string>93</string>
				<key>title</key>
				<string>其他</string>
			</dict>
		</array>
		<key>name</key>
		<string>其他</string>
		<key>pt</key>
		<string>9</string>
		<key>icon</key>
		<string>other.png</string>
	</dict>
</array>
</plist>
